<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo List</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<body>
    <div class='container'>
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
            <h1> <%= @user.name %>'s ToDo List</h1>
                <div class="panel">
                    <div class="panel-body">
                        <h4 class="list-group-item-heading">New Item:</h4>
                        <form class="form-inline" action='/<%= @user.id %>/new_item' method='POST'>
                            <div class="form-group">
                                <input class="form-control" type='text' name='thing' placeholder='thing content' />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type='text' name='date' placeholder='due date' />
                            </div>
                            <button type='submit' class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
                    <a href="/todo"> See the list</a> 
        </div>
    </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
