<p>
<a href="/">&laquo; Back</a>
</p>
<h1>ToDo List</h1>
<p>Hai, see todo list now</p>
<p>
    <%= file_contents = File.read('todo.txt') 
     lines = file_contents.split("\n") 
     lines.each do |line| 
         thing, date = line.split("-") 
         puts "ToDo - #{date} #{thing}" 
         puts "\n" 
     end 
    %>

</p>
