<link rel='stylesheet' type='text/css' href='style.css'>
<p><a href="/">&laquo; Back</a></p>
<h1>ToDo List</h1>
<p>Hi, see todo list now</p>
    <% @things.each do |thing, date| %>
        <li>
        <%= thing %>
        <% unless blank? date %> <em> - <%= date %></em><% end %> 
        </li>
    <% end %>

